<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
    </link>

    <script type="text/javascript" src="../static/js/form_generator.js" th:src="@{/js/form_generator.js}">
    </script>



    <title>ODRL Editor</title>
</head>
<body>
<div class="container">
    <div id="div-log-header" class="page-header">
        <h1><a href="/" id="title-login">ODRL Editor</a></h1>
    </div>

    <div class="container container-fluid" style="overflow: hidden;" >
        <span class="d-inline-block" style="display: block;overflow: hidden;">ODRL Editor is an aplication that lets you create ODRL policies,
        with a user-friendly interface (you can find more information about ODRL <a href="https://www.w3.org/TR/odrl-model/">here</a>).<br/><br/> Although all policies created with the ODRL Editor should be valid as long as all fields are properly
            filled, the policies are validated with the ODRL validator to get aditional information (you can find more information about the ODRL Validator <a href="http://odrlapi.appspot.com/">here</a>). All policies are generated and validated on JSON-LD,
            and all the other RDF formats are translated using Apache Jena.<br/><br/>
             <span class="d-inline-block text-left pull-left" style="display: block;overflow: hidden;">You can create one from
                 scratch, or you can start with one of these examples:</span>
        <div class="col-xs-2 d-inline-block text-left pull-left">
            <select class="form-control"  id="exampleSelector" >
                <option value="0"></option>
                <option value="1">Example 1</option>
                <option value="2">Example 2</option>
                <option value="3">Example 3</option>
            </select>
        </div>

        </span>


        <hr/>
    </div>

    <div class="container container-fluid" >

        <form modelAttribute="license" th:action="@{/}" method="POST" id="form-log-button">
            <div id="wrapper"  class="form-group">

                <div id="top_wrapper" class="panel-body">

                    <div class="panel-body fields" >
                    <div  class="panel-body">UID &nbsp;<input type="text" name='license.uid' class="form-control" ></input ></div>
                    </div>
                    <div class="panel-body buttons" >
                    <button class="add_profile btn btn-default" type="button">Add Profile &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                    <button class="add_conflict btn btn-default" type="button">Add Conflict Strategy &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                        <button class="add_inheritance btn btn-default" type="button">Add Inheritance &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                    </div>

                </div>

                <div  class="panel panel-default panel-body">
                    <p id="errorMessage" class="text-danger"></p>
                    <div id="rule_wrapper" class="panel-body">


                    </div>

                    <div id="constraints_wrapper" class="panel-body">


                    </div>

                    <div class="buttons">
                        <button class="add_rule btn btn-default" type="button">Add Rule &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                        <button class="add_constraint btn btn-default" type="button">Add Constraint &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                    </div>
                </div>

            </div>


            <button type="submit" class="btn btn-primary">Get Policy</button>
            <div class="col-xs-3 d-inline-block left pull-left">
                <select class="form-control"  name="format" >
                    <option value="JSON-LD">JSON-LD</option>
                    <option value="TURTLE">Turtle</option>
                    <option value="N-TRIPLES">N-Triples</option>
                    <option value="RDF/XML">RDF/XML</option>
                    <option value="N3">N3</option>
                    <option value="RDF/JSON">RDF/JSON</option>
                </select>
            </div>
            <span id="responseText"></span>
        </form>

        <div   class="panel-body">
            <pre id='license' rows="20" cols="100" contenteditable="true">Press submit to get your license here.</pre>
            <!--<textarea class="form-control" id="license" rows="20" cols="100">
            Press submit to get your license here.
            </textarea>-->

        </div>
    </div>
    <hr/>
    <span class="d-inline-block" style="display: block;overflow: hidden;font-size: 90%;text-align: center;">This application has been done in the context of an end-of-grade project for the ETSIInf (Escuela Técnica Superior de Ingenieros Informáticos). You can check out the code on <a href="https://bitbucket.org/Guillermo_Gutierrez/odrl_generator_web">bitbucket</a>. <br/>Guillermo Gutierrez Lorenzo  </span>

</div>

</body>
</html>


<script type="text/template" id="ruleTemplate" xmlns:th="http://www.thymeleaf.org">
    <div class="panel panel-default" name="{{name}}" number="{{number}}" style="border-color:#d6e9c6">

        <div class="panel-heading"  style="border-color:#d6e9c6;background-color:#dff0d8;background-image:none;color:#3c763d;">Rule &nbsp;
            <button class="deleteRule btn btn-sm remove"  name="{{deleteName}}"  type="button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="collapseb" type="button" data-toggle="collapse"  data-target="[pc='{{name}}']"><span class="glyphicon glyphicon-collapse-down"></span></button></div>

        <div class="fields panel-collapse collapse in" pc="{{name}}">
            <div class="panel-body">Type &nbsp;

                    <select  class="type form-control" name="{{typeName}}">
                        <option uid="permission">Permission</option>
                        <option uid="duty">Obligation</option>
                        <option uid="prohibition">Prohibition</option>
                    </select>

            </div>


            <!--
            <div class="panel-body">Assigner &nbsp;
                <input type="text" name="{{assignerName}}" />
            </div> -->

            <div class="panel-body">Action &nbsp;
                <select class="form-control" name="{{actionName}}" number="0">
                    <option  th:each="action : ${actions}" th:value="${action.uri}"  th:text="${action.name}" th:attr="description=${action.description}"></option>
                </select>
                <span>To grant the specified Policy to a third party for their use of the Asset.</span>
            </div>

        </div>

        <div class="panel-body buttons panel-collapse collapse in" pc="{{name}}">
            <button class="add_assigner btn btn-default" type="button">Add Assigner &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            <button class="add_assignee btn btn-default" type="button">Add Assignee &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            <button class="add_constraint btn btn-default" type="button">Add Constraint &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            <button class="add_logicalConstraint btn btn-default" type="button">Add Logical Constraint &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            <button class="add_duty btn btn-default" type="button">Add <span class="duty">Duty</span> &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
        </div>
    </div>
</script>

<script type="text/template" id="targetTemplate">
    <div class="panel-body">
        <div class="panel panel-default" style="border-color:#BD612E" number="{{number}}" name="{{name}}">

            <div class="panel-heading"  style="border-color:#BD612E;background-color:#ffb891;background-image:none;color:#BD612E;">Target &nbsp;
                <button  class="collapseb" type="button" data-toggle="collapse"  data-target="[pc='{{name}}']"><span class="glyphicon glyphicon-collapse-down"></span></button></div>

            <div class="fields panel-collapse collapse in" pc="{{name}}">


                <div class="panel-body">URI &nbsp;
                    <input class="form-control" type="text"  name="{{targetName}}" />
                    <div class="checkbox">
                        <label><input type="checkbox" value="AssetCollection" name="{{isCollectionName}}"/>Collection</label>
                    </div>
                </div>

            </div>

            <div class="panel-body buttons panel-collapse collapse in" pc="{{name}}">
                <button class="add_constraint btn btn-default" type="button" disabled="disabled">Add Refinement &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <button class="add_logicalConstraint btn btn-default" type="button" disabled="disabled">Add Logical Refinement &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="removeableTargetTemplate">
    <div class="panel-body">
        <div class="panel panel-default" style="border-color:#BD612E" number="{{number}}" name="{{name}}">

            <div class="panel-heading"  style="border-color:#BD612E;background-color:#ffb891;background-image:none;color:#BD612E;">Target &nbsp;
                <button class="_delete btn btn-sm remove"  name="{{deleteName}}"  type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button  class="collapseb" type="button" data-toggle="collapse"  data-target="[pc='{{name}}']"><span class="glyphicon glyphicon-collapse-down"></span></button></div>

            <div class="fields panel-collapse collapse in" pc="{{name}}">


                <div class="panel-body">URI &nbsp;
                    <input class="form-control" type="text"  name="{{targetName}}" />
                    <div class="checkbox">
                        <label><input type="checkbox" value="AssetCollection" name="{{isCollectionName}}"/>Collection</label>
                    </div>
                </div>

            </div>

            <div class="panel-body buttons panel-collapse collapse in" pc="{{name}}">
                <button class="add_constraint btn btn-default" type="button" disabled="disabled">Add Refinement &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <button class="add_logicalConstraint btn btn-default" type="button" disabled="disabled">Add Logical Refinement &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="conflictTemplate">
    <div  class="panel-body">Conflict
        <button class="delete btn btn-sm remove"  name="{{deleteName}}"  type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
        <select class="form-control" name="{{name}}">
            <option value="perm">perm: Permissions must override the Prohibitions</option>
            <option value="prohibit">prohibit: Prohibitions must override the Permissions</option>
            <option value="invalid">invalid: Policy must be void if any conflict is detected (default)</option>
        </select>

    </div>
</script>

<script type="text/template" id="profileTemplate">
    <div  class="panel-body">Profile         <button class="delete btn btn-sm remove"  name="{{deleteName}}"  type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button> <input  class="form-control"  type="text" name='license.profile' /></div>
</script>

<script type="text/template" id="inheritanceTemplate">
    <div  class="panel-body">Inherit From         <button class="delete btn btn-sm remove"  name="{{deleteName}}"  type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button> <input  class="form-control"  type="text" name='license.inheritFrom' /></div>
</script>

<script type="text/template" id="addConflictButtonTemplate">
    <button class="add_conflict btn btn-default" type="button">Add Conflict Strategy &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
</script>

<script type="text/template" id="addProfileButtonTemplate">
    <button class="add_profile btn btn-default" type="button">Add Profile &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
</script>

<script type="text/template" id="addInheritanceButtonTemplate">
    <button class="add_inheritance btn btn-default" type="button">Add Inheritance &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
</script>

<script type="text/template" id="addTargetButtonTemplate">
    <button class="add_target btn btn-default" type="button">Add Target &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
</script>

<script type="text/template" id="addAssignerTemplate">
    <div class="panel-body">
        <div class="panel panel-default" style="border-color:#8f26c9" number="{{number}}" name="{{name}}">

            <div class="panel-heading"  style="border-color:#8f26c9;background-color:#daa5f7;background-image:none;color:#8f26c9;">{{label}} &nbsp;
       <button class="{{deleteClass}} btn btn-sm remove"  name="{{deleteName}}"  type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button><button  class="collapseb" type="button" data-toggle="collapse"  data-target="[pc='{{name}}']"><span class="glyphicon glyphicon-collapse-down"></span></button></div>

            <div class="fields panel-collapse collapse in" pc="{{name}}">


                <div class="panel-body">URI &nbsp;
                    <input class="form-control" type="text"  name="{{assignerName}}" />
                    <div class="checkbox">
                        <label><input type="checkbox" value="PartyCollection" name="{{isCollectionName}}"/>Collection</label>
                    </div>
                </div>
                <!--
                <div class="panel-body">Assigner &nbsp;
                    <input type="text" name="{{assignerName}}" />
                </div> -->

            </div>

            <div class="panel-body buttons panel-collapse collapse in" pc="{{name}}">
                <!--<button class="add_assigner btn btn-default" type="button">Add Assigner &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>-->
                <!--<button class="add_consequence btn btn-default" type="button">Add Consequence &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <button class="add_constraint btn btn-default" type="button">Add Constraint &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>-->
                <button class="add_constraint btn btn-default" type="button" disabled="disabled">Add Refinement &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <button class="add_logicalConstraint btn btn-default" type="button" disabled="disabled">Add Logical Refinement &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="addAssigneeTemplate">
    <div class="panel-body">Assignee        <button class="{{deleteClass}} btn btn-sm remove"  name="{{deleteName}}"  type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
        <input class="form-control" type="text"  number="{{number}}"  name="{{assigneeName}}" />

    </div>
</script>

<script type="text/template" id="addUnitTemplate">
    <div class="panel-body">Unit        <button class="{{deleteClass}} btn btn-sm remove"  name="{{deleteName}}"  type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
        <input class="form-control" type="text"  name="{{name}}" />

    </div>
</script>

<script type="text/template" id="addDataTypeTemplate">
    <div class="panel-body">Data Type        <button class="{{deleteClass}} btn btn-sm remove"  name="{{deleteName}}"  type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
        <input class="form-control" type="text"  name="{{name}}" />

    </div>
</script>

<script type="text/template" id="addStatusTemplate">
    <div class="panel-body">Status       <button class="{{deleteClass}} btn btn-sm remove"  name="{{deleteName}}"  type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
        <input class="form-control" type="text"  name="{{name}}" />

    </div>
</script>

<script type="text/template" id="addUidTemplate">
    <div class="panel-body">UID &nbsp;
        <input class="form-control" type="text"  name="{{name}}" />

    </div>
</script>


<script type="text/template" id="addDutyTemplate" xmlns:th="http://www.thymeleaf.org">
    <div class="panel-body">
    <div class="panel panel-default"  style="border-color:#d6e9c6" number="{{number}}" name="{{name}}">

        <div class="panel-heading"  style="border-color:#d6e9c6;background-color:#dff0d8;background-image:none;color:#3c763d;"><span class="duty">Duty &nbsp;</span>
            <button class="deleteDuty btn btn-sm remove"  name="{{deleteName}}"  type="button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button  class="collapseb"  type="button" data-toggle="collapse"  data-target="[pc='{{name}}']"><span class="glyphicon glyphicon-collapse-down"></span></button></div>

        <div class="fields panel-collapse collapse in" pc="{{name}}">


            <div class="panel-body">Action &nbsp;
                <select class="form-control" name="{{actionName}}" number="0">
                    <option  th:each="action : ${actions}" th:value="${action.uri}"  th:text="${action.name}" th:attr="description=${action.description}"></option>
                </select>
                <span>To accept that the use of the Asset may be tracked.</span>
            </div>
            <!--
            <div class="panel-body">Assigner &nbsp;
                <input type="text" name="{{assignerName}}" />
            </div> -->

        </div>

        <div class="panel-body buttons panel-collapse collapse in" pc="{{name}}">
            <!--<button class="add_assigner btn btn-default" type="button">Add Assigner &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>-->
            <button class="add_consequence btn btn-default" type="button">Add Consequence &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            <button class="add_constraint btn btn-default" type="button">Add Constraint &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            <button class="add_logicalConstraint btn btn-default" type="button">Add Logical Constraint &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            <button class="add_target btn btn-default" type="button">Add Target &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
        </div>
    </div>
    </div>
</script>

<script type="text/template" id="addConsequenceTemplate"  xmlns:th="http://www.thymeleaf.org">
    <div class="panel-body">
        <div class="panel panel-default" style="border-color:#d6e9c6"  number="{{number}}"  name="{{name}}">

            <div class="panel-heading"  style="border-color:#d6e9c6;background-color:#dff0d8;background-image:none;color:#3c763d;">Consequence &nbsp;
                <button class="deleteDuty btn btn-sm remove"  name="{{deleteName}}"  type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button  class="collapseb" type="button" data-toggle="collapse"  data-target="[pc='{{name}}']"><span class="glyphicon glyphicon-collapse-down"></span></button></div>

            <div class="fields panel-collapse collapse in" pc="{{name}}">
                <div class="panel-body">Action &nbsp;
                    <select class="form-control" name="{{actionName}}" number="0">
                        <option  th:each="action : ${actions}" th:value="${action.uri}"  th:text="${action.name}" th:attr="description=${action.description}"></option>
                    </select>
                    <span>To accept that the use of the Asset may be tracked.</span>
                </div>
                <!--
                <div class="panel-body">Assigner &nbsp;
                    <input type="text" name="{{assignerName}}" />
                </div> -->

            </div>

            <div class="panel-body buttons panel-collapse collapse in" pc="{{name}}">
                <!--<button class="add_assigner btn btn-default" type="button">Add Assigner &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>-->
                <!--<button class="add_consequence btn btn-default" type="button">Add Consequence &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>-->
                <button class="add_constraint btn btn-default" type="button">Add Constraint &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <button class="add_logicalConstraint btn btn-default" type="button">Add Logical Constraint &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <button class="add_target btn btn-default" type="button">Add Target &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="addUnitButtonTemplate"  xmlns:th="http://www.thymeleaf.org">
    <button class="add_unit btn btn-default" type="button">Add Unit &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
</script>

<script type="text/template" id="addDataTypeButtonTemplate"  xmlns:th="http://www.thymeleaf.org">
    <button class="add_dataType btn btn-default" type="button">Add Data Type &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
</script>

<script type="text/template" id="addStatusButtonTemplate"  xmlns:th="http://www.thymeleaf.org">
    <button class="add_status btn btn-default" type="button">Add Status &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
</script>

<script type="text/template" id="addConstraintTemplate"  xmlns:th="http://www.thymeleaf.org">
    <div class="panel-body">
        <div class="panel panel-default panel-info"  number="{{number}}"  name="{{name}}">

            <div class="panel-heading panel-info" >{{label}} &nbsp;
                <button class="deleteConstraint btn btn-sm remove"  name="{{deleteName}}"  type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button  class="collapseb" type="button" data-toggle="collapse"  data-target="[pc='{{name}}']"><span class="glyphicon glyphicon-collapse-down"></span></button></div>


            <div class="fields panel-collapse collapse in" pc="{{name}}">
                <div class="panel-body">Left Operand &nbsp;
                    <select class="form-control"  name="{{leftOperandName}}" >
                        <option  th:each="leftOperand : ${leftOperands}" th:value="${leftOperand.uri}"  th:text="${leftOperand.name}" th:attr="description=${leftOperand.description}"></option>
                    </select>
                    <span>A point in space or time defined with absolute coordinates for the positioning of the Asset.</span>
                </div>

                <div class="panel-body">Operator &nbsp;
                    <select class="form-control" name="{{operatorName}}" >
                        <option  th:each="operator : ${operators}" th:value="${operator.uri}"  th:text="${operator.name}" th:attr="description=${operator.description}"></option>
                    </select>
                    <span>Indicating that a given value equals the right operator of the Constraint.</span>
                </div>

                <div class="panel-body">Right Operand &nbsp;
                    <input class="form-control"  name="{{rightOperandName}}" >

                    </input>
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="{{isReferenceName}}"/>Reference</label>
                    </div>

                </div>
                <!--
                <div class="panel-body">Assigner &nbsp;
                    <input type="text" name="{{assignerName}}" />
                </div> -->

            </div>

            <div class="panel-body buttons panel-collapse collapse in" pc="{{name}}">
                <button class="add_unit btn btn-default" type="button">Add Unit &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <button class="add_dataType btn btn-default" type="button">Add Data Type &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <button class="add_status btn btn-default" type="button">Add Status &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            </div>
        </div>

    </div>
</script>


<script type="text/template" id="addLogicalConstraintTemplate"  xmlns:th="http://www.thymeleaf.org">
    <div class="panel-body">
        <div class="panel panel-default panel-info"  number="{{number}}"  name="{{name}}">

            <div class="panel-heading panel-info" >Logical {{label}} &nbsp;
                <button class="deleteConstraint btn btn-sm remove"  name="{{deleteName}}"  type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button  class="collapseb" type="button" data-toggle="collapse"  data-target="[pc='{{name}}']"><span class="glyphicon glyphicon-collapse-down"></span></button></div>


            <div class="fields panel-collapse collapse in" pc="{{name}}">
                <div class="panel-body">Operator &nbsp;
                    <select class="form-control"  name="{{operatorName}}" >
                        <option value="and">and</option>
                        <option value="or">or</option>
                        <option value="xone">xone (only one must be satisfied)</option>
                    </select>
                </div>

                <div class="panel-body">Operand UID &nbsp;
                    <input class="form-control"  name="{{operandName1}}" >

                    </input>
                </div>

                <div class="panel-body">Operand UID &nbsp;
                    <input class="form-control"  name="{{operandName2}}" >

                    </input>
                </div>
                <!--
                <div class="panel-body">Assigner &nbsp;
                    <input type="text" name="{{assignerName}}" />
                </div> -->

            </div>

            <div class="panel-body buttons panel-collapse collapse in" pc="{{name}}">
                <button class="add_operand btn btn-default" type="button">Add Operand &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
            </div>
        </div>

    </div>
</script>

<script type="text/template" id="addOperandTemplate">
    <div class="panel-body">Operand UID
        <button class="{{deleteClass}} btn btn-sm remove"    type="button">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <input class="form-control" type="text" number="{{number}}"  name="{{name}}" />

    </div>
</script>